
#form-heading {
  padding: 10px;
  text-align: center;
}

#form {
  border-top: 1px solid gray;
  margin: 10px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form input {
  margin: 4px;
  width: 220px;
}

#add-item-btn {
  width: 140px;
  margin: 10px 0px;
}